<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e9ecef;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/event/home">На главную</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/event/create">Создать мероприятие</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/event/user/profile">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" th:text="${event.name}"></h2>
            <p class="card-text"><strong>Описание:</strong> <span th:text="${event.description}"></span></p>
            <p class="card-text"><strong>Дата:</strong> <span th:text="${event.date}"></span></p>
            <p class="card-text"><strong>Время:</strong> <span th:text="${event.time}"></span></p>
            <p class="card-text"><strong>Место проведения:</strong> <span th:text="${event.location.city + ', ' + event.location.street + ', ' + event.location.house}"></span></p>
            <p class="card-text"><strong>Категории:</strong>
                <span th:each="tag : ${event.tags}" class="badge bg-warning text-dark me-1" th:text="${tag.name}"></span>
            </p>
        </div>
        <input type="hidden" id="isSubscribed" th:value="${subscribed}">
        <form th:if="${!subscribed}" th:action="@{/event/participant/add/{eventId}(eventId=${event.id})}" method="post">
            <button id="subButton" type="submit" class="btn btn-primary">Подписаться</button>
        </form>
        <form th:if="${subscribed}" th:action="@{/event/participant/delete/{eventId}(eventId=${event.id})}" method="post">
            <button id="unsubButton" type="submit" class="btn btn-primary">Отписаться</button>
        </form>
    </div>
</div>

</body>
</html>
