<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>2GIS Map API</title>
    <meta name="description" content="MapGL API directions example"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html,
        body,
        #container {
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

    </style>
</head>
<body>
<input type="hidden" id="way" th:value="${way}">
<input type="hidden" id="latUser" th:value="${coordinatesUser.lat}">
<input type="hidden" id="lonUser" th:value="${coordinatesUser.lon}">
<input type="hidden" id="latEvent" th:value="${coordinatesEvent.lat}">
<input type="hidden" id="lonEvent" th:value="${coordinatesEvent.lon}">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e9ecef;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/event/home">На главную</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/event/create">Создать мероприятие</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/event/user/profile">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="container">
    <h2 class="card-title" th:text="${event.name}"></h2>
</div>
<script src="https://mapgl.2gis.com/api/js/v1"></script>
<script src="https://unpkg.com/@2gis/mapgl-directions@^2/dist/directions.js"></script>
<script>
    const latUser = document.getElementById('latUser').value;
    const lonUser = document.getElementById('lonUser').value;
    const latEvent = document.getElementById('latEvent').value;
    const lonEvent = document.getElementById('lonEvent').value;

    const map = new mapgl.Map('container', {
        key: '9ef2dfa1-7d97-419a-b808-b0e872a7d933',
        center: [lonEvent, latEvent],
        zoom: 13,
    });

    const directions = new mapgl.Directions(map, {
        directionsApiKey: '9ef2dfa1-7d97-419a-b808-b0e872a7d933',
        center: [lonEvent, latEvent],
    });

    const marker = new mapgl.Marker(map, {
        coordinates: [lonEvent, latEvent],
        icon: 'https://docs.2gis.com/img/dotMarker.svg',
    });

    const marker2 = new mapgl.Marker(map, {
        coordinates: [lonUser, latUser],
        icon: 'https://docs.2gis.com/img/dotMarker.svg',
    })

    let firstPoint = [lonUser, latUser];
    let secondPoint = [lonEvent, latEvent];


    const way = document.getElementById('way').value;
    if (way == 'true') {
        directions.carRoute({
            points: [firstPoint, secondPoint],
        });
    }
    if (way == 'false') {
        directions.pedestrianRoute({
            points: [firstPoint, secondPoint],
        });

    }
</script>
</body>
</html>